.content {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.href {
  margin-bottom: 10px;
  margin-right: 10px;
  &Wrapper {
    position: sticky;
    top: 20px;
    text-align: start;
    padding: 20px;
    border-left: #1890ffee solid 4px;
  }
}
