.markdownEditor {
  &Wrapper {
     display: flex;
     flex-direction: column;
     width: 750px;
     padding: 10px;
     height: 100%;
   }
  &ToolBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d9;
    &Preview {
      color: #595959;
      padding: 0 10px;
      border-left: 1px solid #d9d9d9;
    }
  }
  &PreviewBlock {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fefefe;
  }
  &Content {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  &Description {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    padding: 10px 0;
  }
  flex: 1;
  border: none;
  outline: none;
  resize: none;
  padding: 10px;
  height: 100vh;
}
