.markdown {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  overflow: hidden;
}

.markdownImg {
  max-width: 60%;
  max-height: 60%;
  margin-left: auto;
}

.markdownImgWrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
